## Loading Data

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('vehicles.csv')
df

    Age  Gender   Income Favorite Transport
0     5  female      NaN            bicycle
1     8    male      NaN            scooter
2    10  female      NaN            bicycle
3    14    male      NaN              metro
4    16    male      NaN              metro
5    18  female      NaN              metro
6    20    male    200.0            scooter
7    22  female    500.0            scooter
8    23    male    300.0            scooter
9    25  female    800.0              metro
10   27  female   3000.0                car
11   30  female   5000.0                car
12   33    male   7000.0                car
13   40    male   9000.0                car
14   45    male   3000.0               taxi
15   47  female   6000.0                car
16   49    male   8000.0                car
17   53  female   1300.0               taxi
18   56  female   1400.0               taxi
19   57    male   4000.0                car
20   59  female   5500.0                car
21   64    male   6500.0                car
22   68    male  20000.0         helicopter
23   70  female   2500.0               taxi
24   71    male  25000.0         helicopter
25   75    male  30000.0         helicopter

In [3]:
df.dtypes

Age                     int64
Gender                 object
Income                float64
Favorite Transport     object
dtype: object

## Cleaning

In [4]:
df.isnull()

      Age  Gender  Income  Favorite Transport
0   False   False    True               False
1   False   False    True               False
2   False   False    True               False
3   False   False    True               False
4   False   False    True               False
5   False   False    True               False
6   False   False   False               False
7   False   False   False               False
8   False   False   False               False
9   False   False   False               False
10  False   False   False               False
11  False   False   False               False
12  False   False   False               False
13  False   False   False               False
14  False   False   False               False
15  False   False   False               False
16  False   False   False               False
17  False   False   False               False
18  False   False   False               False
19  False   False   False               False
20  False   False   False               False
21  False   False   False               False
22  False   False   False               False
23  False   False   False               False
24  False   False   False               False
25  False   False   False               False

In [ ]:
df['Income'].fillna(0.0, inplace=True)
df.head(8)

In [7]:
df.isnull().sum()

Age                   0
Gender                0
Income                0
Favorite Transport    0
dtype: int64

In [8]:
df

    Age  Gender   Income Favorite Transport
0     5  female      0.0            bicycle
1     8    male      0.0            scooter
2    10  female      0.0            bicycle
3    14    male      0.0              metro
4    16    male      0.0              metro
5    18  female      0.0              metro
6    20    male    200.0            scooter
7    22  female    500.0            scooter
8    23    male    300.0            scooter
9    25  female    800.0              metro
10   27  female   3000.0                car
11   30  female   5000.0                car
12   33    male   7000.0                car
13   40    male   9000.0                car
14   45    male   3000.0               taxi
15   47  female   6000.0                car
16   49    male   8000.0                car
17   53  female   1300.0               taxi
18   56  female   1400.0               taxi
19   57    male   4000.0                car
20   59  female   5500.0                car
21   64    male   6500.0                car
22   68    male  20000.0         helicopter
23   70  female   2500.0               taxi
24   71    male  25000.0         helicopter
25   75    male  30000.0         helicopter