In [2]:
import pandas as pd

In [10]:
forum_users = {
    'UserID': [1, 2, 3, 4, 5],
    'Username': ['jane_smith', 'alex123', 'bob56', 'mark_wilson', 'test_name'],
    'Age': [18, 35, 25, 28, 45],
    'Joined Date': ['2034-01-01', '2034-02-15', '2034-04-25', '2034-06-21', '2034-09-15'],
    'Total Posts': [150, 230, 80, 420, 310],
    'Reputation': [500, 720, 200, 940, 500]
}

df = pd.DataFrame(forum_users)
df

   UserID     Username  Age Joined Date  Total Posts  Reputation
0       1   jane_smith   18  2034-01-01          150         500
1       2      alex123   35  2034-02-15          230         720
2       3        bob56   25  2034-04-25           80         200
3       4  mark_wilson   28  2034-06-21          420         940
4       5    test_name   45  2034-09-15          310         500